body {
	font-family: 'Metrophobic', sans-serif;
	font-size: 16pt;
	margin: 1em 2em;
	background: #fafafa;
	padding: 0;
	width: 45%;
	text-align: justify;
}

h1 {
	font-size: 350%;
	font-weight: 100;
	text-shadow: 3px 3px 5px #ccc;
}

a {
	color: #202020;
}

textarea {
	font-size: 80%;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #303030;
	padding: 10px;
	background: #fff;
	-moz-box-shadow: 1px 1px 10px #303030;
	-webkit-box-shadow:1px 1px 10px #303030;
	box-shadow: 1px 1px 10px #303030;
}


#info {
	font-size: 50%;
	text-align: left;
}


#top p {
	color: #a0a0a0;
	font-weight: 100;
	font-size: 90%;
	margin: 1em 0 1em 0;
	width: 600px;
}

#main {
}

#in {
	float: left;
}

#in-support {
	text-align: right;
	margin: 0 0 10px 0;
}

#restrict {
	font-size: 70%;
	margin: 0 0 0 .5em;
	cursor: pointer;
}

#restrictions {
	display: none;
	margin: 10px 0 0 0;
}

#entries {
	margin: 0 0 0 1em;
}

#currententry{
	text-align: left;
	font-size: 90%;
	font-weight: bold;
	margin: 0 0 5px 0;
}

#examples-sel {
	display: none;
	font-size: 70%;
	margin: 0 0 10px 0;
	cursor: pointer;
}

#status {
	padding: 5px;
	margin: 2em 0;
	color: #909090;
	text-align: right;
	font-size: 60%;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	border: 1px solid #909090;
	background: #fff;
	-moz-box-shadow: 1px 1px 5px #909090;
	-webkit-box-shadow:1px 1px 5px #909090;
	box-shadow: 1px 1px 5px #909090;
}


#out {
	width: 100%;
	text-align: center;
	cursor: pointer;
}

.ctrl-item {
	font-size: 80%;
	margin: 0 .5em 0 0;
	cursor: pointer;
}

.entry {
	font-size: 60%;
	cursor: pointer;
	margin: 0 8px 0 0;
}
