body {
	font-family: 'Metrophobic', sans-serif;
	font-size: 16pt;
	margin: 0 auto;
	background: #fafafa;
	padding: 0;
	width: 45%;
	text-align: justify;
}

h1 {
	font-size: 350%;
	font-weight: 100;
	margin: 1em 0 0 0;
	text-shadow: 3px 3px 5px #ccc;
}

a {
	color: #909090;
}

textarea {
	font-size: 80%;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #303030;
	padding: 10px;
	float: left;
	background: #fff;
	-moz-box-shadow: 1px 1px 10px #303030;
	-webkit-box-shadow:1px 1px 10px #303030;
	box-shadow: 1px 1px 10px #303030;	
}


footer {
	font-size: 50%;
	text-align: center;
	margin: 4em 0 0 1em;
}


#top p {
	color: #c0c0c0;
	font-weight: 100;
	font-size: 100%;	
}

#main {
}

#in {
	float: left;
}

#in-support {
	text-align: right;
	margin: 0 0 10px 0;
}

#out {
	clear: left;
}

.ctrl-item {
	font-size: 80%;
	margin: 0 .5em 0 0;
}
